@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  font-family: "Outfit", serif;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1920px) {
  .wrapper {
    max-width: 1500px;
  }
}
p {
  text-align: justify;
  letter-spacing: -0.05em;
}
/* Cool underline for the hover */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a26100;
  transition: all 0.3s ease-in-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
.hover-underline-animation.left::after {
  transform-origin: bottom right;
}
.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}
/* I can use this to cut the corner of Images */
.right-angle-cut {
  position: relative;
  overflow: hidden;
}
.right-angle-cut::before {
  content: "";
  position: absolute;
  top: -50px;
  right: -50px;
  display: block;
  width: 100px;
  rotate: 45deg;
  height: 100px;
  background-color: #0b0e11;
}
